/* Coolors Exported Palette - https://coolors.co/f4f4e7-569ad8-d44d39-d9e150-5d6165 */

/* CSS HEX */
--ivory: #F4F4E7ff;
--blue-gray: #569AD8ff;
--jasper: #D44D39ff;
--pear: #D9E150ff;
--dim-gray: #5D6165ff;

/* CSS HSL */
--ivory: hsla(60, 37%, 93%, 1);
--blue-gray: hsla(209, 63%, 59%, 1);
--jasper: hsla(8, 64%, 53%, 1);
--pear: hsla(63, 71%, 60%, 1);
--dim-gray: hsla(210, 4%, 38%, 1);

/* SCSS HEX */
$ivory: #F4F4E7ff;
$blue-gray: #569AD8ff;
$jasper: #D44D39ff;
$pear: #D9E150ff;
$dim-gray: #5D6165ff;

/* SCSS HSL */
$ivory: hsla(60, 37%, 93%, 1);
$blue-gray: hsla(209, 63%, 59%, 1);
$jasper: hsla(8, 64%, 53%, 1);
$pear: hsla(63, 71%, 60%, 1);
$dim-gray: hsla(210, 4%, 38%, 1);

/* SCSS RGB */
$ivory: rgba(244, 244, 231, 1);
$blue-gray: rgba(86, 154, 216, 1);
$jasper: rgba(212, 77, 57, 1);
$pear: rgba(217, 225, 80, 1);
$dim-gray: rgba(93, 97, 101, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #F4F4E7ff, #569AD8ff, #D44D39ff, #D9E150ff, #5D6165ff);
$gradient-right: linear-gradient(90deg, #F4F4E7ff, #569AD8ff, #D44D39ff, #D9E150ff, #5D6165ff);
$gradient-bottom: linear-gradient(180deg, #F4F4E7ff, #569AD8ff, #D44D39ff, #D9E150ff, #5D6165ff);
$gradient-left: linear-gradient(270deg, #F4F4E7ff, #569AD8ff, #D44D39ff, #D9E150ff, #5D6165ff);
$gradient-top-right: linear-gradient(45deg, #F4F4E7ff, #569AD8ff, #D44D39ff, #D9E150ff, #5D6165ff);
$gradient-bottom-right: linear-gradient(135deg, #F4F4E7ff, #569AD8ff, #D44D39ff, #D9E150ff, #5D6165ff);
$gradient-top-left: linear-gradient(225deg, #F4F4E7ff, #569AD8ff, #D44D39ff, #D9E150ff, #5D6165ff);
$gradient-bottom-left: linear-gradient(315deg, #F4F4E7ff, #569AD8ff, #D44D39ff, #D9E150ff, #5D6165ff);
$gradient-radial: radial-gradient(#F4F4E7ff, #569AD8ff, #D44D39ff, #D9E150ff, #5D6165ff);